{% extends "breweryInterface/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="main">
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <td>Batch ID</td>
                <td>Recipe</td>
                <td>Date</td>
                <td>
                    <a href="{% url 'log_insert' %}" class="btn btn-outline-success">
                        <i class="fas fa-plus"></i> Add New
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for log in logList %}
            <tr>
                <td>{{ log.batch_id }}</td>
                <td>{{ log.recipe }}</td>
                <td>{{ log.dateBrewed }}</td>
                <td>
                    <a href="{% url 'log_update' log.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'log_delete' log.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>  
</div> 

{% endblock content %}