{% extends "breweryInterface/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<form method="POST" enctype="multipart/form-data">   
    <!-- Security token -->
    {% csrf_token %}      
    
    <p class="lead">Batch Information</p>
    <div class="row">
        <div class='col-md-4'>
            {{form.batch_id|as_crispy_field}}
        </div>
        <div class='col-md-4'>
            {{form.dateBrewed|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class='col-md-4'>
            {{form.recipe|as_crispy_field}}
        </div>
    </div>

    <br>
    <br>

    <hr class="my-4">
    <p class="lead">Water</p>    
    <div class="row">
        <div class='col-md-4'>
            <p>Gypsum (g):</p>
        </div>
        <div class='col-md-4'>
            <p>MgSO4 (g):</p>
        </div>
        <div class='col-md-4'>
            <p>CaCl2 (g):</p>
        </div>        
    </div>
    <div class="row">
        <div class='col-md-4'>
            {{form.instance.recipe.gypsumWght}}
        </div>
        <div class='col-md-4'>
            {{form.instance.recipe.MGSO4Wght}}
        </div>
        <div class='col-md-4'>
            {{form.instance.recipe.CaCl2Wght}}
        </div>        
    </div>

    <br>
    <br>


    <hr class="my-4">
    <p class="lead">Malt</p>
    <div class="row">
        <div class='col-md-4'>
            <p>Malt</p>
        </div>
        <div class='col-md-4'>
            <p>Weight (lbs)</p>
        </div> 
        <div class='col-md-4'>
            <p>Completed?</p>
        </div> 
    </div>   
    {% for malt in form.instance.recipe.malt_set.all %}
    <div class="row">
        <div class='col-md-4'>
            <p>{{ malt.get_name_display}}</p>            
        </div>
        <div class='col-md-4'>
            <p>{{ malt.weight }}</p>
        </div> 
        <div class='col-md-4'>
            <input class="form-check-input" type="checkbox" >
        </div> 
    </div>   
    {% endfor %}
    <br>
    <br>

    <hr class="my-4">
    <p class="lead">Mash</p>
    <div class="row">
        <div class='col-md-4'>
            <p>Mash Temp</p>
        </div>
        <div class='col-md-4'>
            <p>Strike Volume</p>
        </div> 
        <div class='col-md-4'>
            <p>Strike Temp</p>
        </div> 
    </div>      
    <div class="row">
        <div class='col-md-4'>
            <p>{{form.instance.recipe.mash_temp}}</p>
        </div>
        <div class='col-md-4'>
            <p>{{form.instance.recipe.strike_volume}}</p>
        </div> 
        <div class='col-md-4'>
            <p>{{form.instance.recipe.strike_water_temp}}</p>
        </div> 
    </div>    

    <br>
    <br>
    <hr class="my-4">
    <p class="lead">Boil</p>
    <div class="row">
        <div class='col-md-4'>
            <p>Boil Duration (hours): {{form.instance.recipe.boil_duration}}</p>
        </div>
    </div>  

    <div class="row">
        <div class='col-md-4'>
            <p>Hop</p>            
        </div>
        <div class='col-md-2'>
            <p>Weight (oz)</p>
        </div> 
        <div class='col-md-2'>
            <p>Time (min)</p>
        </div> 
        <div class='col-md-4'>
            <p>Completed?</p>
        </div> 
    </div>  
    {% for hop in form.instance.recipe.hop_set.all %}
    <div class="row">
        <div class='col-md-4'>
            <p>{{ hop.name}}</p>            
        </div>
        <div class='col-md-2'>
            <p>{{ hop.weight }}</p>
        </div> 
        <div class='col-md-2'>
            <p>{{ hop.time }}</p>
        </div> 
        <div class='col-md-4'>
            <input class="form-check-input" type="checkbox" >
        </div> 
    </div>   
    {% endfor %}
    <div class="row">
        <div class='col-md-4'>
            <p>Irish Moss</p>            
        </div>
        <div class='col-md-2'>
            <p>1 tsp</p>
        </div> 
        <div class='col-md-2'>
            <p>5 min</p>
        </div> 
        <div class='col-md-4'>
            <input class="form-check-input" type="checkbox" >
        </div> 
    </div>
   
    
    <div class="row">
        <div class='col-md-4'>
            <p>{{form.og|as_crispy_field}}</p>
        </div>

    </div>  

    <br>
    <br>
    <hr class="my-4">
    <p class="lead">Ferment</p>

    <div class="row">
        <div class='col-md-4'>
            <p>Fermentation Temperature (F): {{form.instance.recipe.fermentation_temp}}</p>
        </div>
    </div>   

    <br>
    <br>
    <hr class="my-4">
    <p class="lead">Cellar</p>
    
    <div class="row">
        <div class='col-md-4'>
            {{form.fg|as_crispy_field}}
        </div>
        <div class='col-md-4'>
            {{form.dateKegged|as_crispy_field}}
        </div>
        
    </div>

    <div class="row">
        <div class='col-md-8'>
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Submit</button>
        </div>
        <div class='col-md-4'>
            <a href="{% url 'log_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>
</form> 

{% endblock content %}