{% extends "breweryInterface/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="main">
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <td>Name</td>
                <td>Style</td>
                <td>ABV</td>
                <td>IBU</td>
                <td>SRM</td>
                <td>
                    <a href="{% url 'recipe_insert' %}" class="btn btn-outline-success">
                        <i class="fas fa-plus"></i> Add New
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipeList %}
            <tr>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.style }}</td>
                <td>{{ recipe.abv }}</td>
                <td>{{ recipe.ibu }}</td>
                <td>{{ recipe.srm }}</td>
                <td>
                    <a href="{% url 'recipe_update' recipe.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'recipe_delete' recipe.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>  
</div> 

{% endblock content %}