{% extends "breweryInterface/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<form method="POST" enctype="multipart/form-data">   
    <!-- Security token -->
    {% csrf_token %}      

    <p class="lead">Recipe Information</p>

    <div class="row">
        <div class='col-md-4'>
            {{ form.style|as_crispy_field }}
        </div>
        <div class='col-md-4'>
            {{ form.name|as_crispy_field }}
        </div>        
    </div>

    <div class="row">
        <div class='col-md-12'>
            {{ form.description|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class='col-md-4'>
            {{ form.efficiency|as_crispy_field }}
        </div>
        <div class='col-md-4'>
            {{ form.attenuation|as_crispy_field }}
        </div>
        <div class='col-md-4'>
            {{ form.water|as_crispy_field }}
        </div>
    </div>

    <hr class="my-4">
    <p class="lead">Malts</p>    
    {{ maltformset.management_form}}



    {% for form in maltformset %}
    <div class="row well">
        <div class='col-md-4'>
            {{ form.name|as_crispy_field }}
        </div>
        <div class='col-md-4'>
            {{ form.weight|as_crispy_field  }}
        </div>
        <td class="hidden">{{ form.id }}</td>
    </div>        
    {% endfor %}

    <hr class="my-4">
    <p class="lead">Mash</p>    

    <div class="row">
        <div class='col-md-4'>
            {{ form.strike_volume|as_crispy_field }}
        </div>
        <div class='col-md-4'>
            {{ form.mash_temp|as_crispy_field }}
        </div>
    </div>
  
    <hr class="my-4">
    <p class="lead">Boil</p>  
    <div class="row">
        <div class='col-md-4'>
            {{ form.pre_boil_volume|as_crispy_field }}
        </div>
        <div class='col-md-4'>
            {{ form.boil_duration|as_crispy_field }}
        </div>
    </div>
      
    <hr class="my-4">
    <p class="lead">Hops</p>    
    {{ hopformset.management_form}}


    {% for form in hopformset %}
    <div class="row well">
        <div class='col-md-4'>
            {{ form.name|as_crispy_field }}
        </div>
        <div class='col-md-2'>
            {{ form.AA|as_crispy_field }}
        </div>
        <div class='col-md-2'>
            {{ form.weight|as_crispy_field  }}
        </div>
        <div class='col-md-4'>
            {{ form.time|as_crispy_field  }}
        </div>
        <td class="hidden">{{ form.id }}</td>
    </div>        
    {% endfor %}

    <hr class="my-4">
    <p class="lead">Fermentation</p>    
    <div class="row">
        <div class='col-md-4'>
            {{ form.fermentation_temp|as_crispy_field }}
        </div>
    </div>

    <div class="row">
        <div class='col-md-8'>
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Submit</button>
        </div>
        <div class='col-md-4'>
            <a href="{% url 'recipe_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>
</form> 

{% endblock content %}