{% extends "breweryInterface/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="main">
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <td>Tap</td>
                <td>Batch</td>
            </tr>
        </thead>
        <tbody>
            {% for tap in tapList %}
            <tr>
                <td>{{ tap.tap_id }}</td>
                <td>{{ tap.log }}</td>
                <td>
                    <a href="{% url 'tap_update' tap.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                </td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>  
    <div class="row">
        <div class='col-md-4'>
            <a href="{% url 'taps_display' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Display Taplist
            </a>
        </div>
    </div>
</div> 

{% endblock content %}