{% extends "breweryInterface/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<form method="POST" enctype="multipart/form-data">   
    <!-- Security token -->
    {% csrf_token %}      

    <p class="lead">Recipe Information</p>

    <div class="row">
        <div class='col-md-4'>
            {{ form.tap_id|as_crispy_field }}
        </div>
        <div class='col-md-4'>
            {{ form.log|as_crispy_field }}
        </div>        
    </div>


    <div class="row">
        <div class='col-md-8'>
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Submit</button>
        </div>
        <div class='col-md-4'>
            <a href="{% url 'tap_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>
</form> 

{% endblock content %}