<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>BMR Brewing Taplist</title>
  </head>
  {% for tap in tapList %}
  <tr>
      <td>{{ tap.tap_id }}</td>
      <td>{{ tap.log }}</td>
      <td>
          <a href="{% url 'tap_update' tap.id %}" class="btn text-secondary px-0">
              <i class="far fa-edit fa-lg"></i>
          </a>
      </td>
  </tr>
  {% endfor %}
  <body class="p-3 mb-2 bg-dark text-white">

    <div class="card-deck">
                <div class="card text-white bg-secondary">
                    <div class="card-header" >
                        <p>Tap 1</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ tap_1.log.recipe.name }}</h5>
                            <table class="table text-white table-borderless">
                                <tbody>
                                <tr>
                                    <th scope="row">Style:</th>
                                    <td>{{ tap_1.log.recipe.style }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">ABV:</th>
                                    <td>{{ tap_1.log.recipe.abv }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">IBU:</th>
                                    <td>{{ tap_1.log.recipe.ibu }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">SRM:</th>
                                    <td>{{ tap_1.log.recipe.srm }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" rowspan="2">Description:</th>
                                    <td>{{ tap_1.log.recipe.description }}</td>
                                </tr>
                                </tbody>
                            </table>  
                    </div>
                    <div class="card-footer text-white">
                        Tapped: {{ tap_1.log.dateKegged }}
                    </div>
                </div>
            
                <div class="card text-white bg-secondary">
                    <div class="card-header" >
                        <p>Tap 2</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ tap_2.log.recipe.name }}</h5>
                            <table class="table text-white table-borderless">
                                <tbody>
                                <tr>
                                    <th scope="row">Style:</th>
                                    <td>{{ tap_2.log.recipe.style }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">ABV:</th>
                                    <td>{{ tap_2.log.recipe.abv }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">IBU:</th>
                                    <td>{{ tap_2.log.recipe.ibu }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">SRM:</th>
                                    <td>{{ tap_2.log.recipe.srm }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" rowspan="2">Description:</th>
                                    <td>{{ tap_2.log.recipe.description }}</td>
                                </tr>
                                </tbody>
                            </table>  
                    </div>
                    <div class="card-footer text-white">
                        Tapped: {{ tap_2.log.dateKegged }}
                    </div>
                </div>
            
        
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
<!--{{tap_list}}
{% for tap in tap_list %}
    <li>{{ tap.beer_name }}</li>
{% endfor %}
<li>testing</li>-->